* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: " poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #f0ccd4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 400px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.345),
    -10px -10px 20px rgba(85, 85, 85, 0.242);
  padding: 20px;
}

.calculator form input {
  width: 76px;
  height: 50px;
  margin: 5px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #f0ccd4;
  color: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 5px #a2344cc3;
  transition: transform 0.1s ease;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  width: 100%;
  height: 130px;
  font-size: 4rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #d48995;
  color: #0a0a0a;
  border: none;
  outline: none;
}

form input.equal {
  background-color: #a2344c;
}
form input.oper {
  background-color: #d48995;
}

form input.oper:hover {
  background-color: #a2344c;
  box-shadow: #d489958d 0 0 10px;
}

form input.equal:hover {
  background-color: #7f1c33;
}

form input:hover {
  filter: brightness(1.1);
}
form input:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

form input.delete {
  background-color: #e40303;
}
form input.delete:hover {
  background-color: #ff0000;
}

form input.plus {
  width: 46%;
}
